= stylesheet "al/widgets/popup","al/widgets/loginPopup","oocss/core/core","authentications"
= javascript "jquery.autocomplete.js"

= render :partial => "authentications/inlay"

= render :partial => "authentications/left"

= render :partial => "authentications/right"

= render :partial => "authentications/footer"